In [5]:
import mysql.connector
from mysql.connector import Error

In [6]:
try:
    connection=mysql.connector.connect(host="localhost",database="java",user="root",password="root")
    if connection.is_connected() :
        #server_info=connection.get_Server_Info()
        print("Connection done")
except Error as e:
    print("error in connection",e)

Connection done

In [7]:
import pandas as pd

In [10]:
mycursor = connection.cursor()

mycursor.execute("SELECT * FROM myproducts")
df= pd.DataFrame(mycursor.fetchall())
df.columns =['pid', 'pname', 'qty', 'price','mfgDate']
df
print(df.to_string(index=False))

 pid     pname  qty   price mfgDate
  12     chair   20  4000.0    None
  21 lawnmower  100 40000.0    None
  22     mixer    8  1000.0    None
  34       fan   15  5000.0    None
  45        ac    5  4000.0    None
  54     table   10  2000.0    None

In [ ]:
sql = "INSERT INTO myproducts (pid,pname,qty,price) VALUES (%s, %s,%s, %s)"
val = ("21", "lawnmower","100","40000")
mycursor.execute(sql, val)

connection.commit()

print(mycursor.rowcount, "record inserted.")

In [35]:
df

   pid      pname  qty    price mfgDate
0   12      chair   20   4000.0    None
1   21  lawnmower  100  40000.0    None
2   22      mixer    8   1000.0    None
3   34        fan   15   5000.0    None
4   45         ac    5   4000.0    None
5   54      table   10   2000.0    None

In [ ]:
# python -m pip install pymongo
#python -m pip install dnspython

In [31]:
from pymongo import MongoClient

In [ ]:
client = MongoClient("mongodb+srv://edbda:<password>@cluster0.6uwgn.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
# try:
#     info = client.server_info()
# except Error as e:
print("server is down.")

In [ ]:
client = MongoClient(CONNECTION_STRING)
db = client.LMS
x = db.LMS_MEMBERS.find({})
for i in x:
    print(i)

In [10]:
from pymongo import MongoClient
import pymongo

# CONNECTION_STRING = "mongodb+srv://siddhant:120297@cluster0.p3zvv.mongodb.net/test?authSource=admin&replicaSet=atlas" \
#                     "-12wblu-shard-0&readPreference=primary&ssl=true "
client = MongoClient("mongodb+srv://edbda:edbda@cluster0.6uwgn.mongodb.net/edbda?retryWrites=true&w=majority")
# client = MongoClient(CONNECTION_STRING)
db = client.test
x = db.LMS_MEMBERS.find({})
for i in x:
    print(i)

{'_id': ObjectId('5f51518d53f01c44d2459dc4'), 'MEMBER_ID': 'LM001', 'MEMBER_NAME': 'Akshay', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 10, 26, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dc5'), 'MEMBER_ID': 'LM002', 'MEMBER_NAME': 'Amruta', 'CITY': 'PUNE', 'DATE_REGISTER': datetime.datetime(2020, 3, 2, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 6, 3, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dc6'), 'MEMBER_ID': 'LM003', 'MEMBER_NAME': 'Ashish', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 8, 17, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dc7'), 'MEMBER_ID': 'LM004', 'MEMBER_NAME': 'Bhakti', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 5, 12, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dc8'), 'MEMBER_ID': 'LM005', 'MEMBER_NAME': 'Gautam', 'CITY': 'BANGALORE', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 11, 6, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dc9'), 'MEMBER_ID': 'LM006', 'MEMBER_NAME': 'Hetvi', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 10, 26, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dca'), 'MEMBER_ID': 'LM007', 'MEMBER_NAME': 'Mayur', 'CITY': 'Pune', 'DATE_REGISTER': datetime.datetime(2019, 9, 19, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 10, 19, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dcb'), 'MEMBER_ID': 'LM008', 'MEMBER_NAME': 'Nikhil', 'CITY': 'Bangalore', 'DATE_REGISTER': datetime.datetime(2020, 3, 9, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 6, 3, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dcc'), 'MEMBER_ID': 'LM009', 'MEMBER_NAME': 'Nikita', 'CITY': 'Delhi', 'DATE_REGISTER': datetime.datetime(2012, 12, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2021, 12, 12, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dcd'), 'MEMBER_ID': 'LM010', 'MEMBER_NAME': 'Preity', 'CITY': 'Kerala', 'DATE_REGISTER': datetime.datetime(2019, 6, 17, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 8, 11, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dce'), 'MEMBER_ID': 'LM011', 'MEMBER_NAME': 'Priti', 'CITY': 'Punjab', 'DATE_REGISTER': datetime.datetime(2019, 8, 19, 0, 0), 'DATE_EXPIRE': datetime.datetime(2023, 12, 23, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dcf'), 'MEMBER_ID': 'LM012', 'MEMBER_NAME': 'Rasika', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 10, 26, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dd0'), 'MEMBER_ID': 'LM013', 'MEMBER_NAME': 'Renuka', 'CITY': 'PUNE', 'DATE_REGISTER': datetime.datetime(2020, 3, 2, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 6, 3, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dd1'), 'MEMBER_ID': 'LM014', 'MEMBER_NAME': 'Sandeep', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 8, 17, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dd2'), 'MEMBER_ID': 'LM015', 'MEMBER_NAME': 'Saurabh', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 5, 12, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dd3'), 'MEMBER_ID': 'LM016', 'MEMBER_NAME': 'Sayali', 'CITY': 'BANGALORE', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 11, 6, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dd4'), 'MEMBER_ID': 'LM017', 'MEMBER_NAME': 'Shruti', 'CITY': 'CHENNAI', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 10, 26, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dd5'), 'MEMBER_ID': 'LM018', 'MEMBER_NAME': 'Smita', 'CITY': 'Pune', 'DATE_REGISTER': datetime.datetime(2019, 9, 19, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 10, 19, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dd6'), 'MEMBER_ID': 'LM019', 'MEMBER_NAME': 'Snehal', 'CITY': 'Bangalore', 'DATE_REGISTER': datetime.datetime(2020, 3, 9, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 6, 3, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dd7'), 'MEMBER_ID': 'LM020', 'MEMBER_NAME': 'Supriya', 'CITY': 'Delhi', 'DATE_REGISTER': datetime.datetime(2012, 12, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2021, 12, 12, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459dd8'), 'MEMBER_ID': 'LM021', 'MEMBER_NAME': 'Writankar', 'CITY': 'Kerala', 'DATE_REGISTER': datetime.datetime(2019, 6, 17, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 6, 17, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dd9'), 'MEMBER_ID': 'LM022', 'MEMBER_NAME': 'Amit', 'CITY': 'Punjab', 'DATE_REGISTER': datetime.datetime(2019, 8, 19, 0, 0), 'DATE_EXPIRE': datetime.datetime(2023, 12, 23, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459dda'), 'MEMBER_ID': 'LM023', 'MEMBER_NAME': 'Ritesh', 'CITY': 'Bangalore', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 8, 17, 0, 0), 'MEMBERSHIP_STATUS': 'Permanent'}
{'_id': ObjectId('5f51518d53f01c44d2459ddb'), 'MEMBER_ID': 'LM024', 'MEMBER_NAME': 'Gaurav', 'CITY': 'Delhi', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 5, 12, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}
{'_id': ObjectId('5f51518d53f01c44d2459ddc'), 'MEMBER_ID': 'LM025', 'MEMBER_NAME': 'Sagar', 'CITY': 'Kerala', 'DATE_REGISTER': datetime.datetime(2018, 6, 12, 0, 0), 'DATE_EXPIRE': datetime.datetime(2020, 11, 6, 0, 0), 'MEMBERSHIP_STATUS': 'Temporary'}